* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#fine {
    font-size: 30px;
    display:visible;
    display: flex;
    flex-direction: column;
    color: blue;
}

#none {
    display:none;    
}
